@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
} 
/** MENU*/
.container-header{
    background: #242635;
    position: fixed;
    width: 100%;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.container-header header .logo a{
    font-family:'Montserrat';
    font-size: 36px;
    color: #1cB698;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: #1cB698;
}
.nav-responsive{
    background-color: #1cB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECTION I N I C I O */
.inicio{
    background: #242635;
    width: 100% vw;
    height: 100vh; 
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 20px;
    border: 5px solid #1cB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 15px;
    font-size: 36px;
    font-family: 'Montserrat';
}
.inicio .contenido-banner h2{
    font-size: 20px;
    font-weight: normal;
}
.inicio .contenido-banner h3 span{
    color: #1cB698;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background-color: #1e2326;
    border: 1px solid #fff;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 40px 5px;
    font-size: 40px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1cB698   ;
}
.aboutme{
    background-color: #242635;
    color:#fff;
    padding: 50px 20px;
}
.aboutme .content-section{
    max-width: 1100px;
    margin: auto;
}
.aboutme h2{
    font-size: 48px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 30px 0;
}
.aboutme .content-section p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.aboutme .content-section p span{
    color: #1cB698;
    font-weight: bold;
}
.aboutme .row{
    display: flex;
}
.aboutme .row .col{
    width: 50%;
}
.aboutme .row .col h3{
    font-size: 28px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}
.aboutme .row .col ul{
    list-style: none;
}
.aboutme .row .col ul li{
    margin: 12px 0;
}
.aboutme .row .col ul li strong{
    display: inline-block;
    color: #1cB698;
    width: 130px;
}
.aboutme .row .col ul li span{ 
    background-color:#1cB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.aboutme .row .col .container-interests{
    display: flex;
    flex-wrap: wrap;
}
.aboutme .row .col .container-interests .interests{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.aboutme .row .col .container-interests .interests:hover{
background-color: #1cB698;
}
.aboutme .row .col .container-interests .interests i{
    font-size: 30px;
    margin-bottom: 10px;
}
.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.aboutme button .overlay{ /*animacion de carga del boton DESCARGAR*/
    position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background-color: #1cB698;
     z-index: -1;
     transition: 1s;
}
.aboutme button:hover .overlay{
    width: 100%;
}
/*Section S K I L L S*/
.skills{
    background-color:  #242635;
    color:#fff;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family:'Montserrat';
    text-align: center;
    padding: 20px 0;
}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;   
}
.skills .row .col h3{
    font-size: 35px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 10px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1cB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 18px;
}
/* se agregaran dinamicamente mediante javascript*/ 
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .react{
    width: 0%;
    animation: 2s reat forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}
@keyframes communication {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}
@keyframes teamwork {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .responsible{
    width: 0%;
    animation: 2s responsible forwards;
}
@keyframes responsible {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .objectmanagement{
    width: 0%;
    animation: 2s objectmanagement forwards;
}
@keyframes objectmanagement {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .punctual{
    width: 0%;
    animation: 2s punctual forwards;
}
@keyframes punctual {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .creative{
    width: 0%;
    animation: 2s creative forwards;
}
@keyframes creative {
    0%{width: 0%;}
    100%{width: 100%;}
}
/*SECCTION P O R T F O L I O*/
.portfolio{
    background-color: #242635;
    color:#fff;
    padding: 50px 20px;
}
.portfolio .content-section{
    max-width: 1100px;
    margin: auto;
}   
.portfolio h2{
    font-size: 48px;
    font-family:'Montserrat';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient( rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover{
    margin-bottom: 0px;
}
/*SECTION C O N T A C T*/
.contact{
    background-image:url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contact .content-section{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family:'Montserrat';
    text-align: center;
    padding: 20px 0;   
}
.contact .row{
    display: flex;
}
.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input, .contact .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}
.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;   
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cB698;
    z-index: -1; 
    transition: 1s;  
}
.contact button:hover .overlay{
    width: 100%;
}
.contact .col img{
    width: 100%;
}
.contact .col .info{
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul{
    list-style: none;
}
.contact .col .info ul li{
    margin-bottom: 20px;
}
.contact .col .info ul li i{
    color: #1cb698;
    display: inline-block;
    margin-right: 20px;
}
/* F O O T E R*/
footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    }
footer .redes a:hover{
    background-color: #1cB698;
}
footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1cb698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    top: -25px;
    line-height: 50px;
    font-size: 18px;
}
/* SECTION R E S P O N S I V E */
@media screen and (max-width:1024px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a25;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .aboutme .row{
        display: block;
    }
    .aboutme .row .col{
        width: fit-content;
    }
    .skills .row{
        display: block;
    }
    .skills .row .col{
        width: 100%;
    }
    .curriculum .row{
        display: block;
    }
    .curriculum .row .col{
        width: 90%;
    }
    .curriculum .row .derecha{
        margin-left: 20px;
    }
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contact .row{
        display: block;
    }
    .contact .row .col{
        width: 100%;
    }

}
